/* src/components/Statistics/Statistics.module.css */
.statistics {
  margin-top: 20px;
}

.resetButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffcccc;
}

.resetButton:hover {
  background-color: #ff9999;
}
